@font-face {
  font-family: 'berkshire';
  src: url('/fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
  font-family: 'glory';
  src: url('/fonts/GiveYouGlory.ttf');
}

@font-face {
  font-family: 'homemadeApple';
  src: url('/fonts/HomemadeApple-Regular.ttf');
}

@font-face {
  font-family: 'vibur';
  src: url('/fonts/Vibur-Regular.ttf');
}

@font-face {
  font-family: 'zeyada';
  src: url('/fonts/Zeyada.ttf');
}

.landing {
  background-color: papayawhip;
  background: url('/images/wineglass-scape.jpeg') no-repeat center 80% / cover;
  height: 40rem;
}

.landing .title {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #df0b6e;
  font-size: 400%;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: berkshire;
  /* font-family: glory; */
  /* font-family: homemadeApple; */
  /* font-family: vibur; */
  /* font-family: zeyada; */
}
