.wine {
  cursor: default;
  box-shadow: 0rem 0.1rem 0.35rem 0.01rem rgb(153, 152, 152);
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  position: relative;
  min-width: 10rem;
  min-height: 2rem;
  width: 100%;
  height: 4rem;
  max-width: 30rem;
  margin: 1rem auto;
  transition: all 0.05s linear;
}

.wine:hover{
  color: #fff;
  /* background: rgb(84, 84, 160); */
  background: purple;
}

.wine:hover .wine-svg {
  fill: #fff;
}

.wine:hover .score {
  color: rgb(248, 203, 3);
}

.wine-svg {
  min-width: 80px;
  min-height: 80px;
  width:100%;
  height: 100%;
  max-width: 90px;
  max-width: 90px;
  fill: #2d2d2d;
}

.score {
  font-size: 250%;
  margin: 0;
}

.details {
  display: flex;
  margin: 0.5rem;
}

.details > p, h4 {
  font-size: 90%;
  margin: 0.5rem;
}

.delete:after {
  content:'✖';
}

.delete {
  color: purple;
  position: absolute;
  font-size: 80%;
  padding: 0.15rem 0.3rem;
  top: 1rem;
  right: 1rem;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.534);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.delete:hover {
  background: rgb(241, 240, 240);
}

.delete:active {
  color: white;
  background: purple;
  box-shadow: none;
  box-shadow: inset 0rem 0rem 0.1rem rgb(245, 153, 153);
}

.vineyard-link {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.534);
  border-radius: 0.2rem;
  width: auto;
}

.vineyard-link:hover {
  background: rgb(241, 240, 240);
}

.vineyard-link:active {
  box-shadow: none;
}

.favorite {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  font-size: 100%;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
}

.favorite:after {
  content: '☆';
}

.favorite:hover:after {
  content: '★';
  font-size: 120%;
  color: rgb(248, 203, 3);
}


